<div class="border-2 border-emerald-700 mb-4 w-full">

  <div class="bg-emerald-700 h-12 py-2 px-4">
  </div>
   
  <div class="py-3 px-4">
    <div>   
    <p>{{ description }}</p>
    <p>-{{ user.username }}, {{formatDate createdAt}}</p>
    </div>
  </div>
  
</div>
