<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog </title>
  <link href="/css/reset.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <main>
    {{> navbar loggedIn=this.loggedIn}}
    {{{ body }}}
    {{#if loggedIn}}
    <script src="/js/userlogout.js"></script>
    {{/if}}

  </main> 

</body>

</html>