<div class="min-h-screen bg-green-100 pt-4 px-8">
  <div class="border-2 border-emerald-700 w-full">
    <div class="bg-emerald-700 h-12 py-2 px-6 h-1/6">
      <h2 class="text-green-100 font-bold text-2xl">Cubs Productions Vendor Sign Up</h2>
    </div>  
          
    <div class="flex flex-wrap justify-start flex-col w-full mb-4 px-6 py-2">
      <form>
        <div class="flex">

          {{!-- Basic Info --}}
          <div id="basic_info" class="border-2 border-green p-3 w-1/2">
            <label for="vendor_name" class="text-emerald-700 ">Vendor Name</label>
            <br>
            <input type="text" name="Vendor" id="Vendor" placeholder="Your Vendor Name" class="bg-white w-full my-2 p-3" value="">

            <label for="contact_name" class="text-emerald-700">Contact Name</label>
            <br>
            <input type="contact_name" name="contact_name" id="contact_name" placeholder="Contact Name" class="bg-white w-full my-2 p-3" value="">
            
            <label for="tax-id" class="text-emerald-700 ">Tax ID/SSN</label>
            <br>
            <input type="text" name="Tax Id" id="Tax_Id" placeholder="Your Tax Id or SSN" class="bg-white w-full my-2 p-3" value="">
            
            <label for="contact_phone_number" class="text-emerald-700">Contact's Phone Number</label>
            <br>
            <input type="contact_phone_number" name="contact_phone_number" id="contact_phone_number" placeholder="Contact's Phone Number" class="bg-white w-full my-2 p-3" value="">
          </div>

          {{!-- Locale --}}
          <div id="locale" class="border-2 border-green p-3 w-1/2">

            <label for="remittance_address" class="text-emerald-700 ">Remittance Street Address or P.O. Box</label>
            <br>
            <input type="text" name="remittance_address" id="remittance_address" placeholder="Street Address or P.O. Box" class="bg-white w-full my-2 p-3" value="">
          
            <div class="flex">
              <div class="w-2/3">
                <label for="City" class="text-emerald-700">City</label>
                <input type="text" name="City" id="City" placeholder="City" class="bg-white w-full my-2 p-3" value="">
              </div>

              <div class="w-1/3">
                <label for="state" class="text-emerald-700">State</label>
                <input type="text" name="State" id="state" placeholder="State" class="bg-white w-full my-2 p-3" value="">
              </div>
            </div>

            <div class="flex">
              <div class="w-1/3">
                <label for="zipcode" class="text-emerald-700">Zip Code</label>
                <input type="text" name="zipcode" id="zipcode" placeholder="Zip Code" class="bg-white w-full my-2 p-3" value="">
              </div>

              <div class="w-1/3">
                <label for="country" class="text-emerald-700">Country</label>
                <input type="text" name="country" id="country" placeholder="Country" class="bg-white w-full my-2 p-3" value="">
              </div>
            </div>

            <label for="remittance_email" class="text-emerald-700 ">Remittance Email</label>
            <br>
            <input type="text" name="remittance_email" id="remittance_email" placeholder="Remittance Email" class="bg-white w-full my-2 p-3" value="">

          </div>
        </div> 

          <p>Except in limited situations, the Company*** is not eligible for any state sales tax exemptions, and as such, expects its vendors and suppliers to charge it the appropriate local sales tax on taxable transactions.  The Company expects sales tax to be collected based on where the goods are shipped. In addition, the Company expects its vendors and suppliers to charge it any other applicable local taxes; i.e. lease tax. Please confirm that you are able to collect the appropriate taxes from the Company under the applicable jurisdiction's tax rules.  If you are unable to collect the appropriate taxes, please let us know so we can set up our processes to report the required taxes.</p>

          <p class="font-bold">The above-named vendor is able to, and will, charge appropriate local and state sales and other taxes on its invoices:</p>

           {{!-- Business Info --}}
          <div id="business_info" class="border-2 border-green p-3 w-full">
          
            <div class="flex">
              <div class="w-4/6">
                <label for="service_provided" class="text-emerald-700">Service Provided</label>
                <input type="text" name="service_provided" id="service_provided" placeholder="Service Provided" class="bg-white w-full my-2 p-3" value="">
              </div>

              <div class="w-2/6">
                <label for="minority_ownership" class="text-emerald-700">Minority Ownership</label>
                <input type="text" name="minority_ownership" id="minority_ownership" placeholder="Minority Owned" class="bg-white w-full my-2 p-3" value="">
              </div>
            </div>

            <div class="flex">
              <div class="w-1/2">
                <label for="authorized_name" class="text-emerald-700">Authorized Name</label>
                <input type="text" name="authorized_name" id="authorized_name" placeholder="Authorized Name" class="bg-white w-full my-2 p-3" value="">
              </div>

              <div class="w-1/2">
                <label for="authorized_signature" class="text-emerald-700">Authorized Signature</label>
                <input type="text" name="authorized_signature" id="authorized_signature" placeholder="Authorized Signature" class="bg-white w-full my-2 p-3" value="">
              </div>
            </div>
          </div> 
          <div class="py-2 signup">
            <button id="newUserSubmit" class="hover:bg-emerald-500 bg-emerald-700 text-green-100 px-4 py-3 mb-2 rounded font-medium w-full">Submit</button>
          </div>
      </form>

    </div>
  </div>
</div>

<script src="/js/userSignup.js"></script>