<div class="min-h-screen bg-[url('/images/Wrigley_Field_02.jpg')] w-full bg-cover bg-center pt-4 px-8">

  <div class="border-4 rounded-2xl border-cubred w-full">

    <div class="bg-cubred py-2 w-full bg-center bg-contain bg-no-repeat bg bg-[url('/images/CubsProductions_PrimaryLogo.png')] rounded-t-xl h-1/6">
    </div>  

    <div class="bg-white bg-opacity-70 rounded-b-xl px-6 py-3 flex justify-center items-center flex-col">

    <p class="font-semibold">Enter banking information</p>

        {{!-- BANK Info --}}
        <div id="bank_info" class="bg-cubblue border-2 w-full rounded-xl mt-4 border-cubred p-3">
          <label for="bank_name" class="text-white">Bank Name</label>
          <br>
          <input type="text" name="bank_name" id="bank_name" placeholder="Bank Name" class="bg-white my-2 p-3 w-full" value="">
          <br>
          <label for="account_number" class="text-white">Account Number</label>
          <br>
          <input type="text" name="account_number" id="account_number" placeholder="Account Number" class="bg-white my-2 p-3 mr-4 w-full" value="">
          <br>
          <label for="routing_number" class="text-white ">Routing Number</label>
          <br>
          <input type="number" name="routing_number" id="routing_number" placeholder="Routing Number" class="bg-white my-2 p-3 w-full" value="">
        </div>

        <div class="py-2 bankinfo">
          <button id="newEFTSubmit" class="hover:bg-cubred bg-cubblue border-cubred border-2 text-white px-4 py-3 w-full rounded-xl font-medium">Submit</button>
        </div>

    </div>
  </div>
</div>

{{!-- <script src="/js/vendorSignup.js"></script> --}}