  
<div id="main" class="py-3 lg:py-6 px-2 md:px-4 sm:px-3 lg:px-8         
min-h-screen" style="background-image: url('/images/Wrigley_Field_02.jpg'); background-size: cover; background-position: center;">
      
  <div class="border-4 rounded-2xl border-cubred">

      <div class="bg-cubred px-6 h-1/6 rounded-t-xl bg-center bg-contain bg-no-repeat bg bg-[url('/images/CubsProductions_PrimaryLogo.png')]">
      </div>  

    <form id="vendorForm">  
      <div class="bg-white bg-opacity-70  rounded-b-xl px-2 py-2">

        <div class="flex flex-col w-12/12 gap-x-2 lg:flex-row lg:h-auto lg:gap-x-2 lg:justify-between">

          {{!-- Basic Info --}}
          <div id="basic_info" class="bg-cubblue border-2 rounded-xl border-cubred p-3 w-full h-1/4 lg:w-1/2 xl:w-1/2 lg:flex-auto">

            <label for="vendor_name" class="text-white">Vendor Name</label>
            <input type="text" name="Vendor" id="vendor" placeholder="Your Vendor Name" class="bg-white w-full my-2 p-3" value="">

            <label for="contact_info" class="text-white">Contact Name</label>
            <div class="flex justify-between">
              <input type="text" name="contact_f_name" id="contact_f_name" placeholder="First Name" class="bg-white w-5/12 my-2 p-3 mr-2" value="">

              <input type="text" name="contact_l_name" id="contact_l_name" placeholder="Last Name" class="bg-white w-5/12 my-2 p-3 mr-2" value="">

              <input type="text" name="contact_m_init" id="contact_m_init" placeholder="M.I." class="bg-white w-2/12 my-2 p-3" value="">
            </div>

            <div class="flex justify-between">
              <div class="w-6/12 mr-2">
                <label for="contact_phone_number" class="text-white ">Contact Phone #</label>
                <br>
                <input type="tel" name="contact_phone_number" id="contact_phone_number" placeholder="Phone Number" class="bg-white my-2 p-3 w-full" value="">
              </div>

              <div class="w-6/12">
                <label for="tax-id" class="text-white ">Tax ID/SSN</label>
                <br>
                <input type="text" name="Tax Id" id="tax_id" placeholder="Tax ID or SSN" class="bg-white  my-2 p-3 w-full">
              </div>
            </div>
          </div>

              {{!-- Locale --}}
          <div id="locale" class="bg-cubblue border-2 border-cubred rounded-xl flex flex-wrap gap-x-2 p-3 w-full lg:w-1/2 xl:w-1/2 mt-2 lg:mt-0 lg:flex-auto">

            <div class="flex flex-col w-full sm:w-2/3">
            <label for="remittance_address" class="text-white ">Remittance Street Address or P.O. Box</label>
            <input type="text" name="remittance_address" id="remittance_address" placeholder="Street Address or P.O. Box" class="bg-white my-2 p-3" value="">
            </div>

            <div class="flex flex-col w-2/3 sm:w-1/4 flex-auto">
              <label for="City" class="text-white">City</label>
              <input type="text" name="City" id="city" placeholder="City" class="bg-white my-2 p-3" value="">
            </div>
            
            <div class="flex flex-col w-1/4 sm:w-1/3 flex-auto">
              <label for="state" class="text-white">State</label>
              <input type="text" name="State" id="state" placeholder="State" class="bg-white my-2 p-3" value="">
            </div>

            <div class="flex flex-col w-2/4 sm:w-1/3">
              <label for="zipcode" class="text-white">Zip Code</label>
              <input type="number" name="zipcode" id="zipcode" placeholder="Zip Code" class="bg-white my-2 p-3" value="">
            </div>
            
            <div class="flex flex-col w-1/4 flex-auto">
              <label for="country" class="text-white">Country</label>
              <input type="text" name="country" id="country" placeholder="Country" class="bg-white my-2 p-3" value="">
            </div>

            <div class="flex flex-col w-2/4 flex-auto">
              <label for="remittance_email" class="text-white ">Remittance Email</label>
              <input type="email" name="remittance_email" id="remittance_email" placeholder="Remittance Email" class="bg-white my-2 p-3 w-full" value="">
            </div>
            
          </div>
        </div>


          <p class="my-2">Except in limited situations, the Company*** is not eligible for any state sales tax exemptions, and as such, expects its vendors and suppliers to charge it the appropriate local sales tax on taxable transactions.  The Company expects sales tax to be collected based on where the goods are shipped. In addition, the Company expects its vendors and suppliers to charge it any other applicable local taxes; i.e. lease tax. Please confirm that you are able to collect the appropriate taxes from the Company under the applicable jurisdiction's tax rules.  If you are unable to collect the appropriate taxes, please let us know so we can set up our processes to report the required taxes.</p>

          <p class="font-bold my-2">The above-named vendor is able to, and will, charge appropriate local and state sales and other taxes on its invoices:</p>

        <div class="flex flex-col w-full gap-x-2 gap-y-2 lg:flex-row">

          {{!-- Business Info --}}
            <div id="business_info" class="rounded-xl bg-cubblue border-2 border-cubred p-3 
            sm:flex
            sm:flex-wrap
            sm:gap-2

            lg:gap-0
            lg:gap-x-2 
            lg:w-1/2
            ">

              <div class="flex flex-col w-full sm:w-2/3 lg:w-full">
                <label for="service_provided" class="text-white">Service Provided</label>
                <input type="text" name="service_provided" id="service_provided" placeholder="Service Provided" class="bg-white my-2 p-3" value="">
              </div>

              <div class="flex flex-col w-full sm:w-1/4 lg:w-2/4 sm:flex-auto lg:flex-none">
                <label for="minority_ownership" class="text-white sm:w-full">Minority Ownership</label>
                <select type="text" name="minority_ownership" id="minority_ownership" placeholder="Minority Owned" class="bg-white my-2 w-1/4 sm:w-3/6 p-3 h-12" value="">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </div>

              <div class="flex flex-col w-full sm:w-1/2 md:w-1/2">
                <label for="authorized_name" class="text-white">Authorized Name</label>
                <input type="text" name="authorized_name" id="authorized_name" placeholder="Authorized Name" class="bg-white my-2 p-3" value="">
              </div>

              <div class="flex flex-col w-full sm:w-1/3 sm:flex-auto md:w-1/3">
                <label for="authorized_phone_number" class="text-white">Authorized Phone Number</label>
                <input type="text" name="authorized_phone_number" id="authorized_phone_number" placeholder="Authorized Phone Number" class="bg-white w-full my-2 p-3" value=""> 
              </div>

              <div class="flex flex-col w-full sm:h-64">
                <label for="authorized_signature" class="text-white">Authorized Signature</label>
                <canvas id="signatureCanvas" class="border bg-white my-2 sm:w-full sm:h-3/4"></canvas>
                <button type="button" id="clearSignature" class="bg-cubred rounded px-2 sm:w-1/3 lg:w-1/3 text-white">Clear Signature</button>
                <input type="hidden" name="authorized_signature" id="authorized_signature">
              </div>
          </div> 
          
          {{!-- BANK Info --}}
          <div id="bank_info" class="bg-cubblue border-2 rounded-xl border-cubred p-3 
          sm:flex
          sm:flex-wrap
          sm:gap-x-2
          lg:w-1/2
          lg:h-2/3
          lg:flex
          lg:flex-col 
          xl:flex-auto">

            <div class="flex flex-col w-full lg:w-full">
              <label for="bank_name" class="text-white">Bank Name</label>
              <input type="text" name="bank_name" id="bank_name" placeholder="Bank Name" class="bg-white my-2 p-3" value="">
            </div>

            <div class="flex flex-col w-full sm:w-6/12 lg:w-full">
              <label for="account_number" class="text-white">Account Number</label>
              <input type="text" name="account_number" id="account_number" placeholder="Account Number" class="bg-white my-2 p-3 w-full sm:w-full" value="">
            </div>

            <div class="flex flex-col w-full sm:w-3/12 lg:w-full flex-auto">
              <label for="routing_number" class="text-white">Routing Number</label>
              <input type="number" name="routing_number" id="routing_number" placeholder="Routing Number" class="bg-white my-2 p-3" value="">
            </div>
        </div>

      </div>
         
        <div class="py-2 signup">
          <button type="submit" id="newVendorSubmit" class="hover:bg-cubred bg-cubblue border-cubred border-2 text-white px-4 py-3 rounded-xl font-medium w-full">Submit</button>
         </div>
        </div>
        </div>
       </div>
    </form>
  </div>
</div>
  
  


<script src="/js/vendorSignup.js"></script>
