<div class="h-screen bg-green-100 pt-4 px-8">
  <div class="border-2 border-emerald-700 w-full">
    <div class="bg-emerald-700 h-12 py-2 px-6 h-1/6">
      <h2 class="text-green-100 font-bold text-2xl">Login</h2>
    </div>        
    <div class="mb-4 px-6 py-2">
      <form>
          <label for="username" class="text-emerald-700 ">Username</label>
          <br>
          <input type="text" name="username" id="username" placeholder="Your Username" class="bg-white w-full my-2 p-3" value="">
          <label for="password" class="text-emerald-700">Password</label>
          <br>
          <input name="password" id="password" placeholder="Choose a password" class="bg-white w-full my-2 p-3" value="">
          <div class="py-2">
            <button class="hover:bg-emerald-500 bg-emerald-700 text-green-100 px-4 py-3 mb-2 rounded font-medium w-full" id="login">Login</button>
            <a href="/signup" class="hover:text-yellow-300 text-blue-600">Sign up instead</a>
          </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/userlogin.js"></script>