<div class="h-screen bg-green-100 px-6 py-4 flex flex-col">
{{#if loggedIn}}

<div class="border-2 border-emerald-700 mb-4 w-full">

  <div class="bg-emerald-700 h-12 py-2 px-4">
    <div class="flex justify-between items-center">
      <h2 class="text-green-100 font-bold text-2xl">{{posts.title}}</h2>
      <p class="text-green-100 float-right float-top text-md">Posted by {{posts.user.username}} on {{formatDate posts.createdAt}}</p>
    </div>
  </div>

  <div class="py-3 px-4">
    <div>
      <p>{{posts.description}}</p>
    </div>
  </div>
</div>

  {{> comment-form}}

{{/if}}

</div>
