<div id="submitted" class="min-h-screen" style="background-image: url('/images/Cubs_Family.jpg'); background-size: cover; background-position:center;">

  <div id="navdiv" class="w-full md:w-3/4 2xl:w-2/4 mx-auto flex flex-col h-1/4 md:h-1/5">
    <img class="mt-6" src="/images/WELCOME.png">
  </div>

<a id="newVendor" class="text-center px-1 w-28 bg-cubred shadow-lg rounded-xl text-white hover:bg-cubblue cursor-pointer absolute bottom-4 left-1/2 transform -translate-x-1/2" href='/'>New Vendor</a>

</div>



