<div id="submitted" class="min-h-screen w-full"
  style="background-image: url('/images/Cubs_Family.jpg'); 
  background-size: cover; background-position:center;">

  <div class="relative w-screen flex flex-col items-center border-2 h-1/6">
    <img class="absolute" src="/images/WELCOME.png">
    <a class="absolute text-center text-white hover:text-yellow-200 mt-20 ml-5">Homebase</a>
  </div>
</div>